body {

  padding-top: 0px;

  padding-bottom: 30px;

}


.board_title {

	font-weight : 700;

	font-size : 22pt;

	margin : 10pt;

}

.board_info_box {

	color : #6B6B6B;

	margin : 10pt;

}

.board_author {

	font-size : 10pt;

	margin-right : 10pt;

}

.board_date {

	font-size : 10pt;

}

.board_content {

	color : #444343;

	font-size : 12pt;

	margin : 10pt;

}

.board_tag {

	font-size : 11pt;

	margin : 10pt;

	padding-bottom : 10pt;

}

.pagination1 {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}

ul.pagination1 {
    justify-content: center;
}



.contents_margin{ display:inline-block; width:200px; margin:30px 25px; padding:10px; color:#fff; border:5px solid green; background-color:gray; }